[Unit]
Description=Starts seshat service-discovery agent service

[Service]
Restart=always
RestartSec=5
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target

